{% doc %}
  Renders the predictive search empty state

  @param {number} shadow_opacity - shadow opacity for the empty state container shadow
  @param {string} products_test_id - a playwright test id, used to differentiate empty state from 'real' search results
  @param {boolean} [load_empty_state] - Load the empty state or not

  @example
  {% render 'predictive-search-empty-state', shadow_opacity: 0.1, products_test_id: 'empty-state' %}
{% enddoc %}

<div
  id="predictive-search-results"
  class="predictive-search-dropdown"
  role="listbox"
  aria-expanded="true"
  style="--color-shadow: rgb(var(--color-foreground-rgb) / {{ shadow_opacity }});"
>
  {% if load_empty_state %}
    <div class="predictive-search-results__inner">
        {% comment %}
          A lista global de "Produtos" foi removida a pedido, mantendo o container
          para que o JS injete exclusivamente a lista de "Vistos Recentemente".
        {% endcomment %}
        <div id="predictive-search-products" class="predictive-search-results__products" data-testid="{{ products_test_id }}">
        </div>
    </div>
  {% endif %}
</div>
