{%- liquid
  assign block_settings = block.settings
-%}

<div
  class="shipping-calculator-wrapper spacing-style"
  style="margin-top: {{ block_settings.frete_dinamico_spacetopmb }}px; margin-bottom: {{ block_settings.frete_dinamico_spacebottommb }}px;"
  {{ block.shopify_attributes }}
>
  {% render 'shipping-calculator', block: block %}
</div>

{% schema %}
{
  "name": "Frete Dinamico",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "frete_dinamico_titulo",
      "label": "Titulo",
      "default": "Calcular frete desse produto"
    },
    {
      "type": "color",
      "id": "frete_dinamico_btn",
      "label": "Cor do Botão",
      "default": "#000000"
    },
    {
      "type": "checkbox",
      "id": "frete_dinamico_borda",
      "default": true,
      "label": "Ativar Borda"
    },
    {
      "type": "range",
      "id": "frete_dinamico_spacetopmb",
      "min": -20,
      "max": 50,
      "step": 5,
      "default": 20,
      "unit": "px",
      "label": "Espaço Acima"
    },
    {
      "type": "range",
      "id": "frete_dinamico_spacebottommb",
      "min": -20,
      "max": 50,
      "step": 5,
      "default": 20,
      "unit": "px",
      "label": "Espaço Abaixo"
    }
  ],
  "presets": [
    {
      "name": "Frete Dinamico"
    }
  ]
}
{% endschema %}
